.App {
  background-color: var(--primary-bg);
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

.neumorphic {
    box-shadow:  10px 10px 20px var(--shadow-darker), -10px -10px 20px var(--shadow-lighter) !important;
}

::-webkit-scrollbar-track {
	background-color: var(--primary-bg);
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
  box-shadow:  10px 10px 20px var(--shadow-darker), -10px -10px 20px var(--shadow-lighter);
	background-color: var(--primary-text);
}