@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Baloo Bhaina 2', cursive;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

:root {
  --primary-bg: #5e63a1;
  --shadow-darker: #505489;
  --shadow-lighter: #6c72b9;
  --logo: rgba(255, 255, 255, 0.8);
  --primary-text: rgba(255, 255, 255, 0.8);
  --secondary-text: rgba(255, 255, 255, 0.8);
}
